<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css//group_page.css">
    <title>Group List</title>
</head>
<body>
    <div class="top-bar">
        <h2>App Name</h2>
        <button id="creategrpbtn">Create Group</button>
        <button id="logoutbtn">Log Out</button>
    </div>
    <div class="group-list">
        <div id="groupitem">
          <span>Group 1</span>
          <button id="grpbtn">Join</button>
        </div>
    </div>
</body>
</html>